
@{
    ViewBag.Title = "HW1";
}

<h2>HW1</h2>

<p>姓名: <input type="text" name="basic" value=""/></p>
<p>帳號: <input type="text" name="basic" value="" /></p>
<p>密碼: <input type="password" name="basic" value="" /></p>
<p>性別: <input type="radio" name="gender" value="A">男<input type="radio" name="gender" value="B" />女</p>
<p>興趣: <input type="checkbox" name="interst" value="A" />看電影 <input type="checkbox" name="interst" value="A" />騎腳踏車 <input type="checkbox" name="interst" value="A" />購物</p>
<p><textarea name="message" rows="10" cols="5">我在花園裡散步</textarea></p>
